@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white-1: #666;
  --color-white-2: #888;
  --color-white-3: #aaa;
  --color-white-4: #ccc;
  --color-white-5: #ddd;

  --color-primary-1: #1e2a40;
  --color-primary-2: #305081;
  --color-primary-3: #4079c9;
  --color-primary-4: #88a3dc;
  --color-primary-5: #c4d0ee;

  --color-secondary-1: #463613;
  --color-secondary-2: #8d6b15;
  --color-secondary-3: #dba507;
  --color-secondary-4: #ecc26c;
  --color-secondary-5: #f9e0b5;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  text-rendering: optimizeLegibility;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--color-white-4);
  background: #242424;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white-5);
}

body {
  max-width: 64rem;
}

header h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

img.avatar {
  max-width: 2em;
  border-radius: 100%;
}

header p {
  color: var(--color-white-3);
  font-style: italic;
}

a {
  color: var(--color-primary-5);
  text-decoration: none;
}

a:visited {
  color: var(--color-primary-4);
}

a:hover {
  color: var(--color-primary-5);
  text-decoration: underline;
}

a:active {
  color: var(--color-secondary-5);
}

code {
  font-family: 'Roboto Mono', monospace;
}

article {
  border-block-start: 1px solid var(--color-white-2);
  margin-block-end: 1em;
}

.date {
  color: var(--color-white-3);
  font-weight: normal;
}

.tags-label {
  color: var(--color-white-2);
}

.tag {
  border-radius: 0.3em;
  padding: 0 0.2em;

  border: 1px solid var(--color-secondary-3);
  color: var(--color-white-3);
}

.tag:hover {
  border-color: var(--color-secondary-4);
  color: var(--color-white-4);
}

.summary {
  font-style: italic;
}
